/* Scss Document */
/**** COLOUR REFERENCE ****/
/*
background: #280100
color: #d0d0d0 
*/
/****** MIXINS ******/
/******** VARIABLES *******/
/* font for italic parts of titles */
/* main font */
/* for recipe section */
/**** DEFAULT STYLES ****/
body {
  background: #280a00 url("../images/bg_large.jpg") top no-repeat;
  /* default size */
  background-size: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  /* make default em size 10px, easier to calculate ems in multiples of 10  */
  color: #d0d0d0;
  text-align: center;
  vertical-align: baseline;
  margin: 12% auto;
  width: 44%;
  /*width: 626 / 1024 * 100%;  62% */
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    body {
      background-image: url("../images/bg_large@2x.jpg"); } }

h1 {
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 150%;
  margin-bottom: 5%;
  font-size: 3.6em; }
  h1 em {
    font-family: "Crimson Text", serif;
    letter-spacing: 0.2rem;
    font-size: 1.3rem; }

h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 3.6em; }
  h2 em {
    font-family: "Crimson Text", serif;
    letter-spacing: 0.2rem;
    font-size: 1.3rem; }

a {
  color: #d0d0d0; }

ul {
  list-style: none;
  padding: 0; }

p, ul {
  margin-top: 5%;
  font-size: 1.6em;
  line-height: 2.6em; }

#recipe p, #recipe ul {
  font-size: 2em;
  font-family: "Crimson Text", serif;
  font-style: italic;
  line-height: 1.8em; }

li {
  margin: 0.2em; }

section {
  margin-top: 25%; }
  section:nth-child(2) {
    margin-top: 35%; }

#foot1 {
  text-align: right; }

#foot2 {
  margin-top: 10em; }

hr.style-one {
  border: 0;
  width: 8rem;
  height: 1px;
  background: #dfdfdf;
  margin-top: 50%;
  -webkit-margin-before: 0.2em; }

/**** MOBILE styles ****/
@media only screen and (max-width: 420px) {
  body {
    background-image: url("../images/bg_small.jpg");
    width: 80%; } }
  @media only screen and (max-width: 420px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 420px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 420px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (max-width: 420px) and (min-device-pixel-ratio: 2), only screen and (max-width: 420px) and (min-resolution: 192dpi), only screen and (max-width: 420px) and (min-resolution: 2dppx) {
    body {
      background-image: url("../images/bg_small@2x.jpg");
      /* retina */ } }

@media only screen and (max-width: 420px) {
  section:nth-child(2) {
    margin-top: 25%; }

  h1 {
    font-size: 2.6em; }
    h1 em {
      font-size: 1rem;
      letter-spacing: 0.1rem; }

  h2 {
    font-size: 2.6em; }

  h2 em {
    font-size: 1rem;
    letter-spacing: 0.1rem; }

  p {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: 0.02em; }

  li {
    line-height: 1.2rem;
    font-size: 1rem; }

  #recipe p {
    font-size: 1rem; }
    #recipe p:nth-child(3) {
      text-align: center;
      font-size: 1rem; } }
/**** TABLET styles ****/
@media only screen and (min-width: 420px) and (max-width: 1000px) {
  body {
    background-image: url("../images/bg_medium.jpg");
    margin: 15% auto 15% auto;
    width: 60%; } }
  @media only screen and (min-width: 420px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 420px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 420px) and (max-width: 1000px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 420px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), only screen and (min-width: 420px) and (max-width: 1000px) and (min-resolution: 192dpi), only screen and (min-width: 420px) and (max-width: 1000px) and (min-resolution: 2dppx) {
    body {
      background-image: url("../images/bg_medium@2x.jpg");
      /* retina */ } }

@media only screen and (min-width: 420px) and (max-width: 1000px) {
  h1 {
    font-size: 3.3em; }

  h2 {
    font-size: 2.6em; }

  h2 em {
    font-size: 0.6em; }

  p {
    text-align: center; } }

/*# sourceMappingURL=manhattan.css.map */
